= render "users/shared/modal", resource: resource, resource_name: resource_name, url: session_path(resource_name), title: "ログイン", submit: "ログインする" do |f|
  .field
    = f.label :name, class: "form-label"
    = f.text_field :name, autofocus: true, required: true, pattern: "[a-zA-Z]+", class: "form-control"
  .field.mt-2
    = f.label :password, class: "form-label"
    = f.password_field :password, autocomplete: "current-password", required: true, class: "form-control"
  - if devise_mapping.rememberable?
    .field.mt-2
      = f.check_box :remember_me, class: "form-check-input"
      = f.label :remember_me, class: "form-check-label"
