= turbo_frame_tag "user" do
  .modal-header.gap-2
    .modal-title
      %i.bi.bi-person-fill
      = @user.name
    .ms-auto
      %button.btn.btn-close{ type: "button", data: { bs_dismiss: "modal" } }

  .modal-body
    = form_with model: @user, url: "#" do |form|
      %div
        = form.label :profile_text, class: "form-label"
        = form.text_area :profile_text, class: "form-control", value: @user.profile_text, readonly: true, placeholder: "(未登録です)"
      .mt-2
        = form.label :blog_url, class: "form-label"
        = form.text_field :blog_url, class: "form-control", value: @user.blog_url, readonly: true, placeholder: "(未登録です)"
        